In [4]:
import re
def split_text(text):
    
    text = text.replace('&gt;','>')
    split = text.split(' ')
    new_split = []

    for i in split:
        if i != '<a' and i != '' and 'href' not in i:
            new_split.append(i)
        
        if 'href' in i :
            start = i.find('>')
            end = i.find('<')

            if i[start+1:end] == 'PHTX':
                new_split.append(i[start+1:end])
                break

            new_split.append(i[start+1:end])

    return new_split

In [1]:
import requests, numpy, pandas, bs4, datetime

# step 1

request = requests.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares')

bs_object = bs4.BeautifulSoup(request.text,features='lxml')

content = str(bs_object.find('table'))

data_content = pandas.read_html(content)[0]

data_content.columns  = [ 'rank', 'x_classification', 'date', 'region','start_time', 'max_time', 'end_time', 'movie']

print(data_content)

    rank x_classification        date  region start_time max_time end_time  \
0      1             X28+  2003/11/04     486      19:29    19:53    20:06
1      2             X20+  2001/04/02    9393      21:32    21:51    22:03
2      3           X17.2+  2003/10/28     486      09:51    11:10    11:24
3      4             X17+  2005/09/07     808      17:17    17:40    18:03
4      5            X14.4  2001/04/15    9415      13:19    13:50    13:55
5      6              X10  2003/10/29     486      20:37    20:49    21:01
6      7             X9.4  1997/11/06    8100      11:49    11:55    12:01
7      8             X9.3  2017/09/06    2673      11:53    12:02    12:10
8      9               X9  2006/12/05     930      10:18    10:35    10:45
9     10             X8.3  2003/11/02     486      17:03    17:25    17:39
10    11             X8.2  2017/09/10    2673      15:35    16:06    16:31
11    12             X7.1  2005/01/20     720      06:36    07:01    07:26
12    13             X6.9  2011/08/09    1263      07:48    08:05    08:08
13    14             X6.5  2006/12/06     930      18:29    18:47    19:00
14    15             X6.2  2005/09/09     808      19:13    20:04    20:36
15    16             X6.2  2001/12/13    9733      14:20    14:30    14:35
16    17             X5.7  2000/07/14    9077      10:03    10:24    10:43
17    18             X5.6  2001/04/06    9415      19:10    19:21    19:31
18    19             X5.4  2012/03/07    1429      00:02    00:24    00:40
19    20             X5.4  2005/09/08     808      20:52    21:06    21:17
20    21             X5.4  2003/10/23     486      08:19    08:35    08:49
21    22             X5.3  2001/08/25    9591      16:23    16:45    17:04
22    23             X4.9  2014/02/25    1990      00:39    00:49    01:03
23    24             X4.9  1998/08/18    8307      22:10    22:19    22:28
24    25             X4.8  2002/07/23      39      00:18    00:35    00:47
25    26               X4  2000/11/26    9236      16:34    16:48    16:56
26    27             X3.9  2003/11/03     488      09:43    09:55    10:19
27    28             X3.9  1998/08/19    8307      21:35    21:45    21:50
28    29             X3.8  2005/01/17     720      06:59    09:52    10:07
29    30             X3.7  1998/11/22    8384      06:30    06:42    06:49
30    31             X3.6  2005/09/09     808      09:42    09:59    10:08
31    32             X3.6  2004/07/16     649      13:49    13:55    14:01
32    33             X3.6  2003/05/28     365      00:17    00:27    00:39
33    34             X3.4  2006/12/13     930      02:14    02:40    02:57
34    35             X3.4  2001/12/28    9767      20:02    20:45    21:32
35    36             X3.3  2013/11/05    1890      22:07    22:12    22:15
36    37             X3.3  2002/07/20      39      21:04    21:30    21:54
37    38             X3.3  1998/11/28    8395      04:54    05:52    06:13
38    39             X3.2  2013/05/14    1748      00:00    01:11    01:20
39    40             X3.1  2014/10/24    2192      21:07    21:41    22:13
40    41             X3.1  2002/08/24      69      00:49    01:12    01:31
41    42               X3  2002/07/15      30      19:59    20:08    20:14
42    43             X2.8  2013/05/13    1748      15:48    16:05    16:16
43    44             X2.8  2001/12/11    9733      07:58    08:08    08:14
44    45             X2.8  1998/08/18    8307      08:14    08:24    08:32
45    46             X2.7  2015/05/05    2339      22:05    22:11    22:15
46    47             X2.7  2003/11/03     488      01:09    01:30    01:45
47    48             X2.7  1998/05/06    8210      07:58    08:09    08:20
48    49             X2.6  2005/01/15     720      22:25    23:02    23:31
49    50             X2.6  2001/09/24    9632      09:32    10:38    11:09

                movie
0   MovieView archive
1   MovieView archive
2   MovieView archive
3   MovieView archive
4   MovieView archive
5   MovieView archive
6   MovieView archive
7   MovieView archive
8   MovieView archive
9   MovieView archive
10  MovieView archive
11  MovieView archive
12  MovieView archive
13  MovieView archive
14  MovieView archive
15  MovieView archive
16  MovieView archive
17  MovieView archive
18  MovieView archive
19  MovieView archive
20  MovieView archive
21  MovieView archive
22  MovieView archive
23       View archive
24  MovieView archive
25  MovieView archive
26  MovieView archive
27       View archive
28  MovieView archive
29  MovieView archive
30  MovieView archive
31  MovieView archive
32  MovieView archive
33  MovieView archive
34  MovieView archive
35  MovieView archive
36  MovieView archive
37  MovieView archive
38  MovieView archive
39  MovieView archive
40  MovieView archive
41  MovieView archive
42  MovieView archive
43  MovieView archive
44       View archive
45  MovieView archive
46  MovieView archive
47  MovieView archive
48  MovieView archive
49  MovieView archive

In [2]:
# step 2

data_content = data_content.iloc[:, :-1]

for index, row in data_content.iterrows():
    
    date = data_content['date'][index].split('/')
    
    start_time = data_content['start_time'][index].split(':')
    max_time = data_content['max_time'][index].split(':')
    end_time = data_content['end_time'][index].split(':')

    new_start_time = datetime.time(hour=int(start_time[0]), minute=int(start_time[1]))
    new_max_time = datetime.time(hour=int(max_time[0]), minute=int(max_time[1]))
    new_end_time = datetime.time(hour=int(end_time[0]), minute=int(end_time[1]))

    new_date = datetime.date(year=int(date[0]),month=int(date[1]),day=int(date[2]))

    data_content['start_time'][index] = datetime.datetime.combine(new_date, new_start_time)
    data_content['max_time'][index] = datetime.datetime.combine(new_date, new_max_time)
    data_content['end_time'][index] = datetime.datetime.combine(new_date, new_end_time)    

del data_content['date']
print(data_content)

    rank x_classification  region           start_time             max_time  \
0      1             X28+     486  2003-11-04 19:29:00  2003-11-04 19:53:00
1      2             X20+    9393  2001-04-02 21:32:00  2001-04-02 21:51:00
2      3           X17.2+     486  2003-10-28 09:51:00  2003-10-28 11:10:00
3      4             X17+     808  2005-09-07 17:17:00  2005-09-07 17:40:00
4      5            X14.4    9415  2001-04-15 13:19:00  2001-04-15 13:50:00
5      6              X10     486  2003-10-29 20:37:00  2003-10-29 20:49:00
6      7             X9.4    8100  1997-11-06 11:49:00  1997-11-06 11:55:00
7      8             X9.3    2673  2017-09-06 11:53:00  2017-09-06 12:02:00
8      9               X9     930  2006-12-05 10:18:00  2006-12-05 10:35:00
9     10             X8.3     486  2003-11-02 17:03:00  2003-11-02 17:25:00
10    11             X8.2    2673  2017-09-10 15:35:00  2017-09-10 16:06:00
11    12             X7.1     720  2005-01-20 06:36:00  2005-01-20 07:01:00
12    13             X6.9    1263  2011-08-09 07:48:00  2011-08-09 08:05:00
13    14             X6.5     930  2006-12-06 18:29:00  2006-12-06 18:47:00
14    15             X6.2     808  2005-09-09 19:13:00  2005-09-09 20:04:00
15    16             X6.2    9733  2001-12-13 14:20:00  2001-12-13 14:30:00
16    17             X5.7    9077  2000-07-14 10:03:00  2000-07-14 10:24:00
17    18             X5.6    9415  2001-04-06 19:10:00  2001-04-06 19:21:00
18    19             X5.4    1429  2012-03-07 00:02:00  2012-03-07 00:24:00
19    20             X5.4     808  2005-09-08 20:52:00  2005-09-08 21:06:00
20    21             X5.4     486  2003-10-23 08:19:00  2003-10-23 08:35:00
21    22             X5.3    9591  2001-08-25 16:23:00  2001-08-25 16:45:00
22    23             X4.9    1990  2014-02-25 00:39:00  2014-02-25 00:49:00
23    24             X4.9    8307  1998-08-18 22:10:00  1998-08-18 22:19:00
24    25             X4.8      39  2002-07-23 00:18:00  2002-07-23 00:35:00
25    26               X4    9236  2000-11-26 16:34:00  2000-11-26 16:48:00
26    27             X3.9     488  2003-11-03 09:43:00  2003-11-03 09:55:00
27    28             X3.9    8307  1998-08-19 21:35:00  1998-08-19 21:45:00
28    29             X3.8     720  2005-01-17 06:59:00  2005-01-17 09:52:00
29    30             X3.7    8384  1998-11-22 06:30:00  1998-11-22 06:42:00
30    31             X3.6     808  2005-09-09 09:42:00  2005-09-09 09:59:00
31    32             X3.6     649  2004-07-16 13:49:00  2004-07-16 13:55:00
32    33             X3.6     365  2003-05-28 00:17:00  2003-05-28 00:27:00
33    34             X3.4     930  2006-12-13 02:14:00  2006-12-13 02:40:00
34    35             X3.4    9767  2001-12-28 20:02:00  2001-12-28 20:45:00
35    36             X3.3    1890  2013-11-05 22:07:00  2013-11-05 22:12:00
36    37             X3.3      39  2002-07-20 21:04:00  2002-07-20 21:30:00
37    38             X3.3    8395  1998-11-28 04:54:00  1998-11-28 05:52:00
38    39             X3.2    1748  2013-05-14 00:00:00  2013-05-14 01:11:00
39    40             X3.1    2192  2014-10-24 21:07:00  2014-10-24 21:41:00
40    41             X3.1      69  2002-08-24 00:49:00  2002-08-24 01:12:00
41    42               X3      30  2002-07-15 19:59:00  2002-07-15 20:08:00
42    43             X2.8    1748  2013-05-13 15:48:00  2013-05-13 16:05:00
43    44             X2.8    9733  2001-12-11 07:58:00  2001-12-11 08:08:00
44    45             X2.8    8307  1998-08-18 08:14:00  1998-08-18 08:24:00
45    46             X2.7    2339  2015-05-05 22:05:00  2015-05-05 22:11:00
46    47             X2.7     488  2003-11-03 01:09:00  2003-11-03 01:30:00
47    48             X2.7    8210  1998-05-06 07:58:00  1998-05-06 08:09:00
48    49             X2.6     720  2005-01-15 22:25:00  2005-01-15 23:02:00
49    50             X2.6    9632  2001-09-24 09:32:00  2001-09-24 10:38:00

               end_time
0   2003-11-04 20:06:00
1   2001-04-02 22:03:00
2   2003-10-28 11:24:00
3   2005-09-07 18:03:00
4   2001-04-15 13:55:00
5   2003-10-29 21:01:00
6   1997-11-06 12:01:00
7   2017-09-06 12:10:00
8   2006-12-05 10:45:00
9   2003-11-02 17:39:00
10  2017-09-10 16:31:00
11  2005-01-20 07:26:00
12  2011-08-09 08:08:00
13  2006-12-06 19:00:00
14  2005-09-09 20:36:00
15  2001-12-13 14:35:00
16  2000-07-14 10:43:00
17  2001-04-06 19:31:00
18  2012-03-07 00:40:00
19  2005-09-08 21:17:00
20  2003-10-23 08:49:00
21  2001-08-25 17:04:00
22  2014-02-25 01:03:00
23  1998-08-18 22:28:00
24  2002-07-23 00:47:00
25  2000-11-26 16:56:00
26  2003-11-03 10:19:00
27  1998-08-19 21:50:00
28  2005-01-17 10:07:00
29  1998-11-22 06:49:00
30  2005-09-09 10:08:00
31  2004-07-16 14:01:00
32  2003-05-28 00:39:00
33  2006-12-13 02:57:00
34  2001-12-28 21:32:00
35  2013-11-05 22:15:00
36  2002-07-20 21:54:00
37  1998-11-28 06:13:00
38  2013-05-14 01:20:00
39  2014-10-24 22:13:00
40  2002-08-24 01:31:00
41  2002-07-15 20:14:00
42  2013-05-13 16:16:00
43  2001-12-11 08:14:00
44  1998-08-18 08:32:00
45  2015-05-05 22:15:00
46  2003-11-03 01:45:00
47  1998-05-06 08:20:00
48  2005-01-15 23:31:00
49  2001-09-24 11:09:00

/home/ahmedsamir/Desktop/data_science_project/env/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ahmedsamir/Desktop/data_science_project/env/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ahmedsamir/Desktop/data_science_project/env/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
# step 3 

request = requests.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html')

bs_object = bs4.BeautifulSoup(request.text,features='lxml')

content = str(bs_object.find('pre'))

data_split_list = content.split('\n')

content_data = []

for i in range(12,len(data_split_list)-2):
    content_data.append(split_text(data_split_list[i]))

nasa_data_frame = pandas.DataFrame(content_data)

nasa_data_frame.columns = ['start_date','start_time','end_date','end_time','start_frequency',
                            'end_frequency','flare_location','flare_region','importance',
                            'cme_date','cme_time','cpa','width','spd','plots']
print(nasa_data_frame)

     start_date start_time end_date end_time start_frequency end_frequency  \
0    1997/04/01      14:00    04/01    14:15            8000          4000
1    1997/04/07      14:30    04/07    17:30           11000          1000
2    1997/05/12      05:15    05/14    16:00           12000            80
3    1997/05/21      20:20    05/21    22:00            5000           500
4    1997/09/23      21:53    09/23    22:16            6000          2000
..          ...        ...      ...      ...             ...           ...
513  2017/09/04      20:27    09/05    04:54           14000           210
514  2017/09/06      12:05    09/07    08:00           16000            70
515  2017/09/10      16:02    09/11    06:50           16000           150
516  2017/09/12      07:38    09/12    07:43           16000         13000
517  2017/09/17      11:45    09/17    12:35           16000           900

    flare_location flare_region importance cme_date cme_time   cpa width  \
0           S25E16         8026       M1.3    04/01    15:18    74    79
1           S28E19         8027       C6.8    04/07    14:27  Halo   360
2           N21W08         8038       C1.3    05/12    05:30  Halo   360
3           N05W12         8040       M1.3    05/21    21:00   263   165
4           S29E25         8088       C1.4    09/23    22:02   133   155
..             ...          ...        ...      ...      ...   ...   ...
513         S10W12        12673       M5.5    09/04    20:12  Halo   360
514         S08W33        12673       X9.3    09/06    12:24  Halo   360
515         S09W92        -----       X8.3    09/10    16:00  Halo   360
516         N08E48        12680       C3.0    09/12    08:03   124    96
517        S08E170   ----------      09/17    12:00     Halo   360  1385

      spd plots
0     312  PHTX
1     878  PHTX
2     464  PHTX
3     296  PHTX
4     712  PHTX
..    ...   ...
513  1418  PHTX
514  1571  PHTX
515  3163  PHTX
516   252  PHTX
517  PHTX  None

[518 rows x 15 columns]

In [5]:
# step 4

nasa_data_frame['start_frequency'] = nasa_data_frame['start_frequency'].replace(r'[?]+', "NaN", regex=True)
nasa_data_frame['end_frequency'] = nasa_data_frame['end_frequency'].replace(r'[?]+', "NaN", regex=True)
nasa_data_frame['flare_location'] = nasa_data_frame['flare_location'].replace(r'[-]+', "NaN", regex=True)

nasa_data_frame['flare_region'] = nasa_data_frame['flare_region'].replace(r'[a-zA-Z]+', "NaN", regex=True)
nasa_data_frame['flare_region'] = nasa_data_frame['flare_region'].replace(r'[-]+', "NaN", regex=True)

nasa_data_frame['importance'] = nasa_data_frame['importance'].replace(r'[-]+', "NaN", regex=True)

nasa_data_frame['cme_date'] = nasa_data_frame['cme_date'].replace(r'--/--', "NaN", regex=True)

nasa_data_frame['cme_time'] = nasa_data_frame['cme_time'].replace(r'--:--', "NaN", regex=True)

nasa_data_frame['cpa'] = nasa_data_frame['cpa'].replace(r'[-]+', "NaN", regex=True)
nasa_data_frame['width'] = nasa_data_frame['width'].replace(r'[-]+', "NaN", regex=True)
nasa_data_frame['spd'] = nasa_data_frame['spd'].replace(r'[-]+', "NaN", regex=True)

nasa_data_frame['width_lower_bound'] = [True if '>' in i else False for i in nasa_data_frame['width']]
nasa_data_frame['width'] = [i if '>' not in i else i[1:] for i in nasa_data_frame['width']]

start_date_list = [x.split('/') for x in nasa_data_frame['start_date']]
start_time_list = [x.split(':') for x in nasa_data_frame['start_time']]
start_date_time_list = [datetime.datetime.combine(
                datetime.date(year=int(start_date_list[x][0]),
                            month=int(start_date_list[x][1]),
                            day=int(start_date_list[x][2])),
                
                datetime.time(
                            hour=int(start_time_list[x][0]),
                            minute=int(start_time_list[x][1]))) 
                for x in range(len(start_date_list))]

nasa_data_frame['start_datetime'] = start_date_time_list

end_date_list = [x.split('/') for x in nasa_data_frame['end_date']]
end_time_list = [x.split(':') for x in nasa_data_frame['end_time']]

end_date_time_list = [datetime.datetime.combine(
                datetime.date(year=int(start_date_list[x][0]),
                            month=int(end_date_list[x][0]),
                            day=int(end_date_list[x][1])),
                
                datetime.time(
                            hour=int(end_time_list[x][0]) if end_time_list[x][0] != '24' else 0,
                            minute=int(end_time_list[x][1]))) 
                for x in range(len(end_time_list))]

nasa_data_frame['end_datetime'] = end_date_time_list

cme_date_list = [x.split('/') for x in nasa_data_frame['cme_date']]
cme_time_list = [x.split(':') for x in nasa_data_frame['cme_time']]

cme_date_time_list = []

for x in range(len(cme_date_list)):

    if 'NaN' not in cme_date_list[x] and x != len(cme_date_list)-1:
        cme_date_time_list.append(
                            datetime.datetime.combine(
                            datetime.date(year=int(start_date_list[x][0]),
                            month=int(cme_date_list[x][0]),
                            day=int(cme_date_list[x][1])),
                
                            datetime.time(
                            hour=int(cme_time_list[x][0]),
                            minute=int(cme_time_list[x][1])))
                        )
    else:
        cme_date_time_list.append('NaN')


nasa_data_frame['cme_datetime'] = cme_date_time_list

del nasa_data_frame['start_date']
del nasa_data_frame['end_date']
del nasa_data_frame['start_time']
del nasa_data_frame['end_time']
del nasa_data_frame['cme_date']
del nasa_data_frame['cme_time']

nasa_data_frame['is_halo'] = [True if x == 'Halo' else False for x in nasa_data_frame['cpa']]
nasa_data_frame['cpa'] = [x if x != 'Halo' else 'NaN' for x in nasa_data_frame['cpa']]

In [6]:
print(data_content)

    rank x_classification  region           start_time             max_time  \
0      1             X28+     486  2003-11-04 19:29:00  2003-11-04 19:53:00
1      2             X20+    9393  2001-04-02 21:32:00  2001-04-02 21:51:00
2      3           X17.2+     486  2003-10-28 09:51:00  2003-10-28 11:10:00
3      4             X17+     808  2005-09-07 17:17:00  2005-09-07 17:40:00
4      5            X14.4    9415  2001-04-15 13:19:00  2001-04-15 13:50:00
5      6              X10     486  2003-10-29 20:37:00  2003-10-29 20:49:00
6      7             X9.4    8100  1997-11-06 11:49:00  1997-11-06 11:55:00
7      8             X9.3    2673  2017-09-06 11:53:00  2017-09-06 12:02:00
8      9               X9     930  2006-12-05 10:18:00  2006-12-05 10:35:00
9     10             X8.3     486  2003-11-02 17:03:00  2003-11-02 17:25:00
10    11             X8.2    2673  2017-09-10 15:35:00  2017-09-10 16:06:00
11    12             X7.1     720  2005-01-20 06:36:00  2005-01-20 07:01:00
12    13             X6.9    1263  2011-08-09 07:48:00  2011-08-09 08:05:00
13    14             X6.5     930  2006-12-06 18:29:00  2006-12-06 18:47:00
14    15             X6.2     808  2005-09-09 19:13:00  2005-09-09 20:04:00
15    16             X6.2    9733  2001-12-13 14:20:00  2001-12-13 14:30:00
16    17             X5.7    9077  2000-07-14 10:03:00  2000-07-14 10:24:00
17    18             X5.6    9415  2001-04-06 19:10:00  2001-04-06 19:21:00
18    19             X5.4    1429  2012-03-07 00:02:00  2012-03-07 00:24:00
19    20             X5.4     808  2005-09-08 20:52:00  2005-09-08 21:06:00
20    21             X5.4     486  2003-10-23 08:19:00  2003-10-23 08:35:00
21    22             X5.3    9591  2001-08-25 16:23:00  2001-08-25 16:45:00
22    23             X4.9    1990  2014-02-25 00:39:00  2014-02-25 00:49:00
23    24             X4.9    8307  1998-08-18 22:10:00  1998-08-18 22:19:00
24    25             X4.8      39  2002-07-23 00:18:00  2002-07-23 00:35:00
25    26               X4    9236  2000-11-26 16:34:00  2000-11-26 16:48:00
26    27             X3.9     488  2003-11-03 09:43:00  2003-11-03 09:55:00
27    28             X3.9    8307  1998-08-19 21:35:00  1998-08-19 21:45:00
28    29             X3.8     720  2005-01-17 06:59:00  2005-01-17 09:52:00
29    30             X3.7    8384  1998-11-22 06:30:00  1998-11-22 06:42:00
30    31             X3.6     808  2005-09-09 09:42:00  2005-09-09 09:59:00
31    32             X3.6     649  2004-07-16 13:49:00  2004-07-16 13:55:00
32    33             X3.6     365  2003-05-28 00:17:00  2003-05-28 00:27:00
33    34             X3.4     930  2006-12-13 02:14:00  2006-12-13 02:40:00
34    35             X3.4    9767  2001-12-28 20:02:00  2001-12-28 20:45:00
35    36             X3.3    1890  2013-11-05 22:07:00  2013-11-05 22:12:00
36    37             X3.3      39  2002-07-20 21:04:00  2002-07-20 21:30:00
37    38             X3.3    8395  1998-11-28 04:54:00  1998-11-28 05:52:00
38    39             X3.2    1748  2013-05-14 00:00:00  2013-05-14 01:11:00
39    40             X3.1    2192  2014-10-24 21:07:00  2014-10-24 21:41:00
40    41             X3.1      69  2002-08-24 00:49:00  2002-08-24 01:12:00
41    42               X3      30  2002-07-15 19:59:00  2002-07-15 20:08:00
42    43             X2.8    1748  2013-05-13 15:48:00  2013-05-13 16:05:00
43    44             X2.8    9733  2001-12-11 07:58:00  2001-12-11 08:08:00
44    45             X2.8    8307  1998-08-18 08:14:00  1998-08-18 08:24:00
45    46             X2.7    2339  2015-05-05 22:05:00  2015-05-05 22:11:00
46    47             X2.7     488  2003-11-03 01:09:00  2003-11-03 01:30:00
47    48             X2.7    8210  1998-05-06 07:58:00  1998-05-06 08:09:00
48    49             X2.6     720  2005-01-15 22:25:00  2005-01-15 23:02:00
49    50             X2.6    9632  2001-09-24 09:32:00  2001-09-24 10:38:00

               end_time
0   2003-11-04 20:06:00
1   2001-04-02 22:03:00
2   2003-10-28 11:24:00
3   2005-09-07 18:03:00
4   2001-04-15 13:55:00
5   2003-10-29 21:01:00
6   1997-11-06 12:01:00
7   2017-09-06 12:10:00
8   2006-12-05 10:45:00
9   2003-11-02 17:39:00
10  2017-09-10 16:31:00
11  2005-01-20 07:26:00
12  2011-08-09 08:08:00
13  2006-12-06 19:00:00
14  2005-09-09 20:36:00
15  2001-12-13 14:35:00
16  2000-07-14 10:43:00
17  2001-04-06 19:31:00
18  2012-03-07 00:40:00
19  2005-09-08 21:17:00
20  2003-10-23 08:49:00
21  2001-08-25 17:04:00
22  2014-02-25 01:03:00
23  1998-08-18 22:28:00
24  2002-07-23 00:47:00
25  2000-11-26 16:56:00
26  2003-11-03 10:19:00
27  1998-08-19 21:50:00
28  2005-01-17 10:07:00
29  1998-11-22 06:49:00
30  2005-09-09 10:08:00
31  2004-07-16 14:01:00
32  2003-05-28 00:39:00
33  2006-12-13 02:57:00
34  2001-12-28 21:32:00
35  2013-11-05 22:15:00
36  2002-07-20 21:54:00
37  1998-11-28 06:13:00
38  2013-05-14 01:20:00
39  2014-10-24 22:13:00
40  2002-08-24 01:31:00
41  2002-07-15 20:14:00
42  2013-05-13 16:16:00
43  2001-12-11 08:14:00
44  1998-08-18 08:32:00
45  2015-05-05 22:15:00
46  2003-11-03 01:45:00
47  1998-05-06 08:20:00
48  2005-01-15 23:31:00
49  2001-09-24 11:09:00

In [7]:
print(nasa_data_frame)

    start_frequency end_frequency flare_location flare_region importance  cpa  \
0              8000          4000         S25E16         8026       M1.3   74
1             11000          1000         S28E19         8027       C6.8  NaN
2             12000            80         N21W08         8038       C1.3  NaN
3              5000           500         N05W12         8040       M1.3  263
4              6000          2000         S29E25         8088       C1.4  133
..              ...           ...            ...          ...        ...  ...
379           16000           200           BACK          NaN        NaN  NaN
380           16000           300           BACK          NaN        NaN  NaN
381           16000          1500           BACK          NaN        NaN  NaN
382            4000          1500           BACK          NaN        NaN  261
383           16000          5000         N20W65        11451       C3.9  NaN

    width   spd plots  width_lower_bound      start_datetime  \
0      79   312  PHTX              False 1997-04-01 14:00:00
1     360   878  PHTX              False 1997-04-07 14:30:00
2     360   464  PHTX              False 1997-05-12 05:15:00
3     165   296  PHTX              False 1997-05-21 20:20:00
4     155   712  PHTX              False 1997-09-23 21:53:00
..    ...   ...   ...                ...                 ...
379   360  1210  PHTX              False 2012-03-18 00:20:00
380   360  1152  PHTX              False 2012-03-24 00:40:00
381   360  1390  PHTX              False 2012-03-26 23:15:00
382   101   622  PHTX              False 2012-03-27 21:45:00
383   360   921  PHTX              False 2012-04-09 12:20:00

           end_datetime        cme_datetime  is_halo
0   1997-04-01 14:15:00 1997-04-01 15:18:00    False
1   1997-04-07 17:30:00 1997-04-07 14:27:00     True
2   1997-05-14 16:00:00 1997-05-12 05:30:00     True
3   1997-05-21 22:00:00 1997-05-21 21:00:00    False
4   1997-09-23 22:16:00 1997-09-23 22:02:00    False
..                  ...                 ...      ...
379 2012-03-18 01:20:00 2012-03-18 00:24:00     True
380 2012-03-24 10:40:00 2012-03-24 00:24:00     True
381 2012-03-26 23:55:00 2012-03-26 23:12:00     True
382 2012-03-27 22:30:00 2012-03-27 22:00:00    False
383 2012-04-09 13:00:00                 NaT     True

[384 rows x 14 columns]